WarCardGame/WarCardGame/Service References/ServiceReference1/GameBoard.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GameBoard" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="User_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:12000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:12000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WarCardGameLibrary" />
      <xsd:import schemaLocation="http://localhost:12000/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUser_Join_InputMessage">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="IUser_Join_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_CanBePlayed_InputMessage">
    <wsdl:part name="parameters" element="tns:CanBePlayed" />
  </wsdl:message>
  <wsdl:message name="IUser_CanBePlayed_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanBePlayedResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_addCard_InputMessage">
    <wsdl:part name="parameters" element="tns:addCard" />
  </wsdl:message>
  <wsdl:message name="IUser_addCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCardResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_Leave_InputMessage">
    <wsdl:part name="parameters" element="tns:Leave" />
  </wsdl:message>
  <wsdl:message name="IUser_PostMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:PostMessage" />
  </wsdl:message>
  <wsdl:message name="IUser_GetAllMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMessages" />
  </wsdl:message>
  <wsdl:message name="IUser_GetAllMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_SendAllMessages_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendAllMessages" />
  </wsdl:message>
  <wsdl:portType name="IUser">
    <wsdl:operation name="Join">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/Join" message="tns:IUser_Join_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/JoinResponse" message="tns:IUser_Join_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanBePlayed">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/CanBePlayed" message="tns:IUser_CanBePlayed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/CanBePlayedResponse" message="tns:IUser_CanBePlayed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/addCard" message="tns:IUser_addCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/addCardResponse" message="tns:IUser_addCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/Leave" message="tns:IUser_Leave_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/PostMessage" message="tns:IUser_PostMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/GetAllMessages" message="tns:IUser_GetAllMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/GetAllMessagesResponse" message="tns:IUser_GetAllMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAllMessages">
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/SendAllMessages" message="tns:IUser_SendAllMessages_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="User" type="tns:IUser">
    <wsp:PolicyReference URI="#User_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Join">
      <soap12:operation soapAction="http://tempuri.org/IUser/Join" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanBePlayed">
      <soap12:operation soapAction="http://tempuri.org/IUser/CanBePlayed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCard">
      <soap12:operation soapAction="http://tempuri.org/IUser/addCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <soap12:operation soapAction="http://tempuri.org/IUser/Leave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PostMessage">
      <soap12:operation soapAction="http://tempuri.org/IUser/PostMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetAllMessages">
      <soap12:operation soapAction="http://tempuri.org/IUser/GetAllMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAllMessages">
      <soap12:operation soapAction="http://tempuri.org/IUser/SendAllMessages" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameBoard">
    <wsdl:port name="User" binding="tns:User">
      <soap12:address location="http://localhost:12000/WarCardGameLibrary/User" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:12000/WarCardGameLibrary/User</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>